services:
  directoryservice:
    image: karasucoder/directoryservice:latest
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development 
      - ASPNETCORE_URLS=http://+:8080
    command: ["dotnet", "DirectoryService.dll"]