services:
  nginx:
    image: nginx:mainline-alpine3.23
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Nginx/conf.d:/etc/nginx/conf.d:ro
      - ./Nginx/certs:/etc/nginx/certs:ro
      - ./QueueInformer/QueueInformerFront/dist:/usr/share/nginx/informer:ro
      - ./GetTicket/get-ticket-front/out:/usr/share/nginx/getticket:ro
      - ./WindowService/window-service-front/out:/usr/share/nginx/windowservice:ro
      - ./Dashboard:/usr/share/nginx/dashboard:ro
      - ./PreRegistrationService/Frontend/PreRegistrationService/dist:/usr/share/nginx/preregistration:ro

  rabbitmq:
    image: rabbitmq:3.13.7-management
    container_name: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=password
      - RABBITMQ_DEFAULT_VHOST=/
    ports:
      - "5672:5672"   # AMQP
      - "15672:15672" # Web UI
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq  # ← том для данных
      - rabbitmq_logs:/var/log/rabbitmq   # ← том для логов
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 10s
      timeout: 5s
      retries: 20
      start_period: 30s
      
  redis:
    image: redis/redis-stack:latest
    container_name: redis-stack
    environment:
      - REDIS_STACK_ACCEPT_TERMS=yes      # Принимаем EULA
      - REDIS_STACK_DATA_DIR=/data        # Директория данных
      - REDIS_STACK_INSECURE_MODE=true    # Для разработки
    ports:
      - "6379:6379" # Redis
      - "8001:8001" # Web UI
    volumes:
      - redis_data:/data                  # Сохраняем данные
      - redis_config:/etc/redis-stack     # Сохраняем конфиг
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 10

  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    # Используем entrypoint, чтобы создать файл ключа перед запуском монго
    entrypoint: >
      bash -c "
      if [ ! -f /data/db/keyfile ]; then
        openssl rand -base64 756 > /data/db/keyfile;
        chmod 600 /data/db/keyfile;
        chown 999:999 /data/db/keyfile;
      fi;
      exec docker-entrypoint.sh mongod --replSet rs0 --keyFile /data/db/keyfile --bind_ip_all --auth
      "
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password123
    volumes:
      - mongo-data:/data/db
      - mongo-config:/data/configdb
    healthcheck:
      test: |
        mongosh --quiet --username admin --password password123 --authenticationDatabase admin --eval "
        try {
          if (rs.status().ok) {
            quit(0);
          }
        } catch (e) {
          rs.initiate({
            _id: 'rs0',
            members: [{ _id: 0, host: 'mongodb:27017' }]
          });
          quit(0);
        }"
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  queue-service:
    build: /QueueService
    container_name: queue-service
    ports:
      - "8085:8085"
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
      mongodb:
        condition: service_healthy
    environment:
      - TZ=Europe/Moscow
      - RabbitMQ__HostName=rabbitmq
      - RabbitMQ__UserName=admin
      - RabbitMQ__Password=password
      - RabbitMQ__Port=5672
      - Redis__Host=redis
      - Redis__Port=6379
      - Redis__Database=0
      - ASPNETCORE_URLS=http://+:8085
      - Settings__GetSettingURL=http://directory-service:8082/api/queues/e5d9f8e3-0fe4-4a37-bce4-968a99fb1c5e/settings
      - Mongo__ConnectionString=mongodb://admin:password123@mongodb:27017/?replicaSet=rs0&directConnection=true
    restart: unless-stopped

  directory-service:
    build:
      context: /DirectoryService
    container_name: directory-service
    ports:
      - "8082:8082"
    environment:
      - ASPNETCORE_URLS=http://+:8082
    restart: unless-stopped

  adminpanel-service:
    build:
      context: /QueueAdminPanel
    container_name: adminpanel-service
    ports:
      - "8083:8083"
    environment:
      - ASPNETCORE_URLS=http://+:8083
      - BackendHost=directory-service
      - BackendPort=8082
    restart: unless-stopped

  informer-service:
    build:
      context: /QueueInformer/QueueInformer
    container_name: informer-service
    depends_on:
        rabbitmq:
          condition: service_healthy
        redis:
          condition: service_healthy
    environment:
        - RabbitMQ__HostName=rabbitmq
        - RabbitMQ__UserName=admin
        - RabbitMQ__Password=password
        - RabbitMQ__Port=5672
        - Redis__Host=redis
        - Redis__Port=6379
        - Redis__Database=1
        - ASPNETCORE_URLS=http://+:8086
    ports:
      - "8086:8086"
    restart: unless-stopped

  getticket-service:
    build:
      context: /GetTicket/GetTicket
    container_name: getticket-service
    depends_on:
        rabbitmq:
          condition: service_healthy
        mongodb:
          condition: service_healthy
    environment:
        - RabbitMQ__HostName=rabbitmq
        - RabbitMQ__UserName=admin
        - RabbitMQ__Password=password
        - RabbitMQ__Port=5672
        - ASPNETCORE_URLS=http://+:8080
        - TicketDatabaseSettings__ConnectionString=mongodb://admin:password123@mongodb:27017/?replicaSet=rs0&directConnection=true
    ports:
      - "8080:8080"
    restart: unless-stopped

  window-service:
    build:
      context: /WindowService/window-service
    container_name: window-service
    depends_on:
        rabbitmq:
          condition: service_healthy
    environment:
        - RabbitMQ__HostName=rabbitmq
        - RabbitMQ__UserName=admin
        - RabbitMQ__Password=password
        - RabbitMQ__Port=5672
        - ASPNETCORE_URLS=http://+:8084
    ports:
      - "8084:8084"
    restart: unless-stopped

  preregistration-service:
    build:
      context: ./PreRegistrationService
      dockerfile: Dockerfile
    container_name: preregistration-service
    depends_on:
        mongodb:
          condition: service_healthy
    ports:
      - "8087:8087"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8087
      - ConnectionStrings__DefaultConnection=mongodb://admin:password123@mongodb:27017/prereg?authSource=admin&connectTimeoutMS=30000&serverSelectionTimeoutMS=30000&socketTimeoutMS=30000&replicaSet=rs0&directConnection=true
      - ASPNETCORE_STARTUP_ERROR_CONTINUE=true
    restart: unless-stopped

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    restart: always
    ports:
      - 8088:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: password123
      ME_CONFIG_MONGODB_URL: mongodb://admin:password123@mongodb:27017?replicaSet=rs0&directConnection=true&authSource=admin
    depends_on:
      mongodb:
        condition: service_healthy

volumes:
  mongo-data:
    driver: local
  mongo-config:
    driver: local
  rabbitmq_data:
    driver: local
  rabbitmq_logs:
    driver: local
  redis_data:
    driver: local
  redis_config:
    driver: local