.operatorWindow {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.windowContainer {
  position: relative;
}

.currentWindow {
  position: absolute;
  width: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  text-align: center;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 204px;
  color: var(--blue);

  &_default {
    font-size: 44px;
  }
}

.windowButtonsContainer {
  display: flex;
  gap: 10px;
}

.windowButton {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--purple);
  color: var(--white);
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.button {
  width: 200px;
  padding: 10px;
  border-radius: 4px;
  background: var(--blue);
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;

  &_busy {
    background: var(--purple);
  }

  &:hover {
    opacity: 0.9;
  }
}
