html,
body,
#root {
  height: 100vh;
  margin: auto;
  padding: 0;
}

body {
  background: url("./background.avif");
  background-size: cover;
}

:root {
  --white: #ffffff;
  --black: #171717;
  --text: #44495d;
  --red: #b3000f;
  --purple: #9e2cca;
  --blue: #3479e0;
}

.app {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.app__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__title {
  margin: 0;
  letter-spacing: 10px;
  color: var(--purple);
}
