@page "/"
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer

<PageTitle>Администрирование</PageTitle>

<h3>Панель администрирования электронной очереди</h3>

<p>
    Здесь содержатся справочники для управления работой электронной очереди.
    Раздел находится в разработке.
</p>

@code {

}
