/* [project]/src/app/Components/OperatorWindow/OperatorWindow.module.scss.module.css [app-client] (css) */
/* unparsable [project]/src/app/Components/OperatorWindow/OperatorWindow.module.scss.module.css [app-client] (css) */